HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/
.idea/
test/
mvnw
mvnw.cmd
ProcessDataApplication.iml
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.DS_Store
### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.DS_Store
/lib/
