 .u-section-1 {
  background-image: url("../images/14.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1 .u-group-1 {
  width: 596px;
  min-height: 268px;
  height: auto;
  margin: 60px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto;
}

.u-section-1 .u-line-1 {
  width: 450px;
  height: 0;
  margin: 19px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 19px 0 0;
}

.u-section-1 .u-group-2 {
  width: 428px;
  min-height: 80px;
  height: auto;
  margin: 40px auto 60px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.125rem;
  text-transform: none;
  align-self: center;
  background-image: none;
  margin: 0 auto 0 14px;
  padding: 14px 40px 15px 38px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: 1px;
  align-self: center;
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
  margin: -57px 15px 0 auto;
  padding: 14px 43px 15px 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 6px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    min-height: 158px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
    padding-right: 101px;
    padding-left: 100px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: auto;
    padding-right: 104px;
    padding-left: 103px;
  }
}