<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Ships</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>
<p>Import documets</p>
<form th:action="@{/importDocuments}" method="post" enctype="multipart/form-data">
    <input type="file" th:name="file" />
    <input type="file" th:name="file" />
    <input type="file" th:name="file" />
    <input th:type="submit" value="Import" />
</form>

<div class="container">

    <h3>List Ships</h3>

    <hr/>

    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>Ship id</th>
            <th>Ship Name</th>
            <th>Ship Cap Name</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="ship: ${ship}">
            <td th:text="${ship.idShip}" />
            <td th:text="${ship.ShipName}" />
            <td th:text="${ship.ShipCapName}" />
        </tr>
        </tbody>

    </table>
</div>


</body>

</html>

