<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Delivery INC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/help.css" media="screen">
    <link rel="stylesheet" href="/css/footer.css" media="screen">
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
</head>

<style>
    .pad {
        background-color: #253125; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: -50px 100px -10px 1000px;
        cursor: pointer;
        position: center;
        border-radius: 12px;

        left: 380px;
        top: 171px;
    }

    .download {
        background-color: #253125; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 19px 455px;
        cursor: pointer;
        position: center;
        border-radius: 12px;
    }

    .p {
        text-align: center;
        position: center;
    }

</style>
<body>
<ul class="ul2">
    <li><a href="http://localhost:8080/upload">Link pentru stocare</a></li>
    <li><a href="http://localhost:8080/request">Link pentru request</a></li>
</ul>
<div class="container">
    <h2 class="text-center mt-4 mb-4">Upload data in delivery data base</h2>
    <div class="card">
        <div class="card-header"><b>Select Excel File</b></div>
        <div class="card-body"  >

            <form th:action="@{/importDocuments}" method="post" enctype="multipart/form-data">
            <input type="file" id="excel_file1" th:name="file"/>
            <input type="file" id="excel_file2" th:name="file"/>
            <input type="file" id="excel_file3" th:name="file"/>
                <input class="pad" type="submit" id="check" value="Upload"/>
            </form>

            <a class="download" href="/template.zip" download="template">Download Template</a>
            <script src="https://use.fontawesome.com/80976cfcfc.js"></script>
            <section id="success">
                <div class="icon">
                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                </div>
                <br>
                <h1>Pentru a incarca cu succes date in baza urmariti cateva pasi:</h1>
                <br>
                <br>
                <p class="p">Descarcati template-ul de mai sus</p>
                <p class="p">Completati template-ul cu datele dorite</p>
                <p class="p">Uploadati template-ul in baza de date</p>

                <i class="fa fa-times succ" aria-hidden="true"></i>
            </section>
            <button id="again">Help</button>



        </div>
    </div>
    <div id="excel_data" class="mt-5"></div>
</div>
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Upload data</a></li>
                        <li><a href="#">Get data for users</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Team</h3>
                    <ul>
                        <li><a href="#">Lungu Sergiu</a></li>
                        <li><a href="#">Paduraru Vadim</a></li>
                        <li><a href="#">Grosu Victor</a></li>
                        <li><a href="#">Railean Pavel</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>CR-192</h3>
                    <p>Proiect de an la disciplina "Ingineria Programarii".</p>
                </div>
            </div>
            <p class="copyright">CR-192 © 2022</p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".fail").on("click", function () {
            $("#fail h1,#fail p,#fail .fail").css({ display: "none" });

            $("#fail").animate(
                {
                    width: "0"
                },
                250,
                function () {
                    $("#fail .icon").animate(
                        {
                            borderRadius: "50%"
                        },
                        250,
                        function () {
                            $("#fail .icon").animate(
                                {
                                    opacity: 0
                                },
                                250
                            );
                        }
                    );
                }
            );
        });
        $(".succ").on("click", function () {
            $("#success h1,#success p,#success .succ").css({ display: "none" });

            $("#success").animate(
                {
                    width: "0"
                },
                250,
                function () {
                    $("#success .icon").animate(
                        {
                            borderRadius: "50%"
                        },
                        250,
                        function () {
                            $("#success .icon").animate(
                                {
                                    opacity: 0
                                },
                                250
                            );
                        }
                    );
                }
            );
        });
        $("button").on("click", function () {
            $("section").css({ width: "400px" });
            $("section h1,section p,section i").css({ display: "block" });
            $("section .icon").css({
                borderRadius: "0",
                opacity: 1
            });
        });
    });

</script>
<script>
    const file1 = document.getElementById('excel_file1');
    const file2 = document.getElementById('excel_file2');
    const file3 = document.getElementById('excel_file3');
    const files = [file1, file2, file3];
    console.log(files);
    for (let i = 0; i < files.length; i++) {
        files[i].addEventListener('change', function (e) {
            const file = e.target.files[0];
            const reader = new FileReader();
            reader.onload = function (e) {
                const data = e.target.result;
                const workbook = XLSX.read(data, {
                    type: 'binary'
                });
                workbook.SheetNames.forEach(function (sheetName) {
                    // Here is your object
                    const XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                    const json_object = JSON.stringify(XL_row_object);
                    console.log(json_object);
                })
            };
            reader.onerror = function (ex) {
                console.log(ex);
            };
            reader.readAsBinaryString(file);
        });
    }
    for (let i = 0; i < files.length; i++) {
        files[i].addEventListener('change', (event) => {

            if (!['application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel'].includes(event.target.files[0].type)) {
                document.getElementById('excel_data').innerHTML = '<div class="alert alert-danger">Only .xlsx or .xls file format are allowed</div>';


                return false;
            }

            const reader = new FileReader();

            reader.readAsArrayBuffer(event.target.files[0]);

            reader.onload = function (event) {

                const data = new Uint8Array(reader.result);

                const work_book = XLSX.read(data, {type: 'array'});

                const sheet_name = work_book.SheetNames;

                const sheet_data = XLSX.utils.sheet_to_json(work_book.Sheets[sheet_name[0]], {header: 1});

                if (sheet_data.length > 0) {
                    var table_output = '<table class="table table-striped table-bordered">';

                    for (var row = 0; row < sheet_data.length; row++) {

                        table_output += '<tr>';

                        for (let cell = 0; cell < sheet_data[row].length; cell++) {

                            if (row === 0) {

                                table_output += '<th>' + sheet_data[row][cell] + '</th>';

                            } else {

                                table_output += '<td>' + sheet_data[row][cell] + '</td>';

                            }

                        }

                        table_output += '</tr>';

                    }

                    table_output += '</table>';

                    document.getElementById('excel_data').innerHTML = table_output;
                }

            }

        });
    }


</script>
<script>
    $("#check").click(function () {
            const fileName1 = $("#excel_file1").val();
            const lengthDoc = fileName1.substring(12, fileName1.length)

            const fileName2 = $("#excel_file2").val();
            const lengthCont = fileName2.substring(12, fileName2.length)

            const fileName3 = $("#excel_file3").val();
            const lengthProd = fileName3.substring(12, fileName3.length)

            const files = [lengthDoc, lengthCont, lengthProd];


            if (files[0] === "document.xlsx" && fileName1.length > 0) {
                console.log("merge");
            } else
                alert("Error document field. No file selected. Or no file name compatible. File uploaded: " + lengthDoc);


            if (files[1] === "containers.xlsx" && fileName2.length > 0) {
                console.log("merge");
            } else
                alert("Error containers field. No file selected. Or no file name compatible. File uploaded: " + lengthCont);


            if (files[2] === "products.xlsx" && fileName3.length > 0) {
                console.log("merge");
            } else
                alert("Error products field. No file selected. Or no file name compatible. File uploaded: " + lengthProd);

        }
    )
</script>