<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/help.css" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/footer.css" media="screen">
    <link rel="stylesheet" href="/css/help.css" media="screen">
</head>
<style>
    body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    footer{
        margin-top: auto;
        bottom: 0;
    }
</style>
<body>
<ul class="ul2">
    <li><a href="http://localhost:8080/upload">Link pentru stocare</a></li>
    <li><a href="http://localhost:8080/request">Link pentru request</a></li>
</ul>

<div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h1 align="center">Data has been uploaded successfully</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


</div>
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Upload data</a></li>
                        <li><a href="#">Get data for users</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Team</h3>
                    <ul>
                        <li><a href="#">Lungu Sergiu</a></li>
                        <li><a href="#">Paduraru Vadim</a></li>
                        <li><a href="#">Grosu Victor</a></li>
                        <li><a href="#">Railean Pavel</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>CR-192</h3>
                    <p>Proiect de an la disciplina "Ingineria Programarii".</p>
                </div>
            </div>
            <p class="copyright">CR-192 © 2022</p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>